
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Concert</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/concertProject2/public">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/concertProject2/public/bands">Groupes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/concertProject2/public/concert">Concerts</a>
      </li>
      {% if not app.user %}
      <li class="nav-item">
        <a class="nav-link" href="/concertProject2/public/login">Connexion</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/concertProject2/public/register">Créer un compte</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>